* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: auto;
  margin: 0 10px;
}

.container-column {
  background-clip: padding-box;
  margin: 0 10px;
}

.container-column > section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
}

.container-column > section > header {
  display: flex;
  flex-direction: column;
}

.container-column > section > header > img {
  margin: 0 auto 10px auto;
}

@media screen and (max-width: 600px) {
  .container-column > section > header > img {
    margin: 0;
    max-width: 30px;
  }
  .container-column > section > header > h3 {
    margin-left: 10px;
  }
  .container-column > section > header {
    flex-direction: row;
    align-items: center;
  }
  .container-column > section > ul, 
  .container-column > section > .toggle-link {
    display: none;
  }
}

ul {
  margin: 10px 20px 0 20px;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

.hidden {
 display: none; 
}

.toggle-link {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  margin: 5px 0 0 0;
}

.open, .closed {
  overflow-y: hidden;
  transition: all 0.5s ease-in-out;
}

.open {
  height: auto;
  max-height: 500px;
}

.closed {
  max-height: 95px;
}