* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: auto;
  margin: 10px;
}

.container-column {
  background-clip: padding-box;
  margin: 0 10px;
}

.container-column > section {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
}

ul {
  margin: 10px 20px 0 20px;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

.hidden {
 display: none; 
}

.toggle-link {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  margin: 5px 0 0 0;
}

.open, .closed {
  overflow-y: hidden;
  transition: all 0.5s ease-in-out;
}

.open {
  height: auto;
  max-height: 500px;
}

.closed {
  max-height: 95px;
}